<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
                <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    

       <header class="main-header">
        <nav class="topnav" id="myTopnav">
            <div class="brand">
                <a href="#home" class="active">Home</a>
            </div>
            <div class="menu">
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            
        </nav>
       </header>

    
    
    
    
    <script>
        function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/nab-bar.js') }}"></script>       

</body>
</html>
